name: Release

on:
  release:
    types: [published]

env:
  package_type: system
  package_id: godwrot

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v2

    - name: Substitute Manifest and Download Links For Versioned Ones
      id: sub_manifest_link_version
      uses: microsoft/variable-substitution@v1
      with:
        files: 'system.json'
      env:
        version: ${{github.event.release.tag_name}}
        download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/system.zip
        flags: "{}"

    - name: Use Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: "npm"

    - run: npm ci && npm run build

    - run: zip -r ${{ env.package_type }}.zip LICENSE.txt README.md system.json assets/ css/ lang/ lib/ module/ packs/ templates/

    - name: Update Release with Files
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: ${{ github.event.release.name }}
        artifacts: './${{ env.package_type }}.json, ./${{ env.package_type }}.zip'
        body: ${{ github.event.release.body }}
